services:
  postgres-db:
    image: postgres:15

    container_name: local_postgres_db

    ports:
      - "5432:5432"

    environment:
      POSTGRES_USER: dev
      POSTGRES_PASSWORD: dev
      POSTGRES_DB: anotherblog_dev_db

    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
    driver: local
